# importing libraries

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

# Data Pre-Processing

In [15]:
df=pd.read_csv('spamham.csv')

In [16]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [21]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [22]:
df.shape

(5572, 2)

In [36]:
df['Message'].value_counts()

Sorry, I'll call later                                                                                                                                          30
I cant pick the phone right now. Pls send a message                                                                                                             12
Ok...                                                                                                                                                           10
Ok                                                                                                                                                               4
Your opinion about me? 1. Over 2. Jada 3. Kusruthi 4. Lovable 5. Silent 6. Spl character 7. Not matured 8. Stylish 9. Simple Pls reply..                         4
                                                                                                                                                                ..
I got arrested for possession at, I shit you not,  &lt;TIME&gt;  pm                                                                                              1
Yo do you know anyone  &lt;#&gt;  or otherwise able to buy liquor? Our guy flaked and right now if we don't get a hold of somebody its just 4 loko all night     1
On the way to office da..                                                                                                                                        1
No, I was trying it all weekend ;V                                                                                                                               1
HEY DAS COOL... IKNOW ALL 2 WELLDA PERIL OF STUDENTFINANCIAL CRISIS!SPK 2 U L8R.                                                                                 1
Name: Message, Length: 5157, dtype: int64

In [27]:
df.describe()

        Category                 Message
count       5572                    5572
unique         2                    5157
top            1  Sorry, I'll call later
freq        4825                      30

# label spam mail as '0' and ham mail as '1'

In [25]:
df.loc[df['Category']=='spam','Category']=0
df.loc[df['Category']=='ham','Category']=1

In [26]:
df.tail()

     Category                                            Message
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will Ã¼ b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

# separate the data as text and label x--> tet, y->label

In [37]:
x=df['Message']
y=df['Category']

# train_test_split

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=True)

In [42]:
print(x_train.shape,x_test.shape)

(3900,) (1672,)

In [44]:
#TfidfVectorizer?

# Feature Extraction

In [46]:
feat = TfidfVectorizer(min_df=1,stop_words='english',lowercase="True")

In [48]:
x_train_features=feat.fit_transform(x_train)

In [49]:
x_test.features=feat.transform(x_test)

In [ ]:
convert y_train and y_test as integer

In [51]:
y_train=y_train.astype('int')
y_test=y_test.astype('int')

# training the model --> SVM(support vector machine)

In [53]:
model=LinearSVC()
model.fit(x_train_features,y_train)

LinearSVC()

# Evaluation of model

In [55]:
pred=model.predict(x_train_features)
acc=accuracy_score(y_train,pred)

In [63]:
print('accuracy on training data = ',acc*100)

accuracy on training data =  99.95512676688355

In [61]:
prediction_testing_data=model.predict(x_test.features)
accuracy=accuracy_score(y_test,prediction_testing_data)

In [64]:
print('accuracy on test data = ',accuracy*100)

accuracy on test data =  99.28251121076234

In [85]:
inpu=['England v Macedonia - dont miss the goals/team news. Txt ur national team to 87077 eg ENGLAND to 87077 Try:WALES, SCOTLAND 4txt/Ãº1.20 POBOXox36504W45WQ 16+']
inpu_features=feat.transform(inpu)
predict=model.predict(inpu_features)
if (predict[0]==1):
    print("mail is ham")
else:
    print('spam mail')

spam mail